// COLORES, ESQUELETO HTML Y LETRAS //
// FONTS //
$title-font: 3rem, bold, "roboto" sans-serif;
$nav-font: 10rem "roboto" sans-serif;
$text-font: 1.6rem;
$button-font: 2rem;
$footer-font: 1.2rem bold sans-serif; 

////////////////// COLORES ////////////////////
$color-blanco: rgb(236, 231, 231);
$color-negro: rgb(19, 18, 18);
$color-principal: rgb(38, 95, 141);
$color-secundario: rgba(21, 39, 46, 0.733);
$color-terciario: rgb(38, 38, 175);
$color-botonera: rgb(255, 0, 132);
$color-blancoPiola: rgb(196, 179, 223);
//////////////////// CONDICIONALES  /////////////////////////
//
