.page_botonera{ 
.title_botonera {
    color: $color-principal;
    padding: 10rem;
}
.botonera {
    color: $color-negro;
    font-size: large;
    font-style: sans-serif;
    border-radius: 90%;
    border-bottom: 20rem;
    border-color: $color-botonera;

}

}